
@media (min-width: 320px) and (max-width: 480px) {
    /* Estilos para móviles */
    .about_box {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        background-color: rgba(255, 100, 100, 0);
        height: 100vh;
        width: 100%;
    }
    
    .container_box_about {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 93%;
        background-color: rgba(238, 168, 82, 0);
    }

    .text_container_about {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .title_about {
        margin-top: 0.1em;
        background-color: rgba(255, 92, 92, 0);
        font-size: 3.3em;
        color: #ffffff;
    }
    
    .linea_about {
        background-color: rgb(255, 255, 255);
        height: 5px;
        width: 65%;
    }
    
    .text_about {
        background-color: rgba(182, 74, 228, 0.644);
        width: 80%;
        margin-top: 10px;
        padding-left: 10px;
        padding-top: 2px;
        font-size: 1em;
        color: rgb(255, 255, 255);
    }

    .space_about {
        height: 11em;
    }
    
    .phrase_about {
        display: flex;
        flex-flow: row wrap;
        text-align: center;
        max-width: 400px;
        color: #272727;
        font-size: 1.3em;
    }
    
    .phrase_about:hover {
        color: #ffff;
        cursor: pointer;
        transition: 1s;
        transform: scale(1.15);
    }

    .cv_container_about {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .cuadro_cv {
        background-color: rgb(255, 255, 255);
        margin-top: 2.5em;
        height: 6em;
        width: 11em;
    }
    
    .cv {
        background-color: rgba(182, 74, 228, 0.644);
        display: block;
        height: 1.3em;
        width:4.6em;
        text-align: center;
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-size: 1.4em;
    }
    
    .cv:hover {
        background-color: #272727;
        color: #ffff;
        cursor: pointer;
        transform: scale(0.95);
    }    
}


@media (min-width: 481px) and (max-width: 768px) {
    /* Estilos para tablets */
    .about_box {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        background-color: rgba(255, 100, 100, 0);
        height: 100vh;
        width: 100%;
    }
    
    .container_box_about {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 93%;
        background-color: rgba(238, 168, 82, 0);
    }

    .text_container_about {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .title_about {
        margin-top: 0.4em;
        background-color: rgba(255, 92, 92, 0);
        font-size: 3.3em;
        color: #ffffff;
    }
    
    .linea_about {
        background-color: rgb(255, 255, 255);
        height: 5px;
        width: 65%;
    }
    
    .text_about {
        background-color: rgba(182, 74, 228, 0.644);
        width: 80%;
        max-width: 570px;
        margin-top: 10px;
        padding-left: 10px;
        padding-top: 2px;
        font-size: 1em;
        color: rgb(255, 255, 255);
    }

    .space_about {
        height: 11.5em;
    }
    
    .phrase_about {
        display: flex;
        flex-flow: row wrap;
        text-align: center;
        max-width: 400px;
        color: #272727;
        font-size: 1.3em;
    }
    
    .phrase_about:hover {
        color: #ffff;
        cursor: pointer;
        transition: 1s;
        transform: scale(1.15);
    }

    .cv_container_about {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .cuadro_cv {
        background-color: rgb(255, 255, 255);
        margin-top: 2.5em;
        height: 6em;
        width: 11em;
    }
    
    .cv {
        background-color: rgba(182, 74, 228, 0.644);
        display: block;
        height: 1.3em;
        width:4.6em;
        text-align: center;
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-size: 1.4em;
    }
    
    .cv:hover {
        background-color: #272727;
        color: #ffff;
        cursor: pointer;
        transform: scale(0.95);
    }    
}

@media (min-width: 769px) and (max-width: 1200px) {
    /* Estilos para laptops */
    .about_box {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        height: 100vh;
        width: 100%;
    }
    
    .container_box_about {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 825px;
        background-color: rgba(238, 168, 82, 0);
    }

    .text_container_about {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .title_about {
        margin-top: 0.3em;
        background-color: rgba(255, 92, 92, 0);
        font-size: 3.7em;
        color: #ffffff;
    }
    
    .linea_about {
        background-color: rgb(255, 255, 255);
        height: 5px;
        width: 65%;
    }
    
    .text_about {
        background-color: rgba(182, 74, 228, 0.644);
        max-width: 600px;
        margin-top: 10px;
        padding-left: 10px;
        padding-top: 2px;
        font-size: 1.15em;
        color: rgb(255, 255, 255);
    }

    .space_about {
        height: 12.5em;
    }
    
    .phrase_about {
        display: flex;
        flex-flow: row wrap;
        background-color: rgba(223, 89, 89, 0);
        text-align: center;
        color: #272727;
        font-size: 1.7em;
    }
    
    .phrase_about:hover {
        color: #ffff;
        cursor: pointer;
        transition: 1s;
        transform: scale(1.15);
    }

    .cv_container_about {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .cuadro_cv {
        background-color: rgb(255, 255, 255);
        margin-top: 2.5em;
        height: 6em;
        width: 11em;
    }
    
    .cv {
        background-color: rgba(182, 74, 228, 0.644);
        display: block;
        height: 1.3em;
        width: 4.6em;
        text-align: center;
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-size: 1.4em;
    }
    
    .cv:hover {
        background-color: #272727;
        color: #ffff;
        cursor: pointer;
        transform: scale(0.95);
    }    
}

@media (min-width: 1201px) {
    /* Estilos para desktop */
    .about_box {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        background-color: rgba(255, 218, 132, 0);
        width: 100%;
        height: 100vh;  
    }
    
    .container_box_about {
        display: flex;
        flex-direction: row;
        width: 1025px;
        margin-left: -4em;
        gap: 0em 1em;
        background-color: rgba(0, 255, 255, 0);
    }

    .text_container_about { 
        display: flex;
        flex-direction: column;
        align-items: center;
    }
     
    .title_about {
        margin-top: 0.3em;
        background-color: rgba(255, 92, 92, 0);
        font-size: 7em;
        color: #ffffff;
    }
    
    .linea_about {
        background-color: rgb(255, 255, 255);
        height: 5px;
        width: 21em;
        margin-top: -1em;
        max-width: 450px;
    }
    
    .text_about {
        background-color: rgba(182, 74, 228, 0.644);
        width: 17em;
        margin-top: 10px;
        text-align: center;
        padding: 0.5em 0em;
        font-size: 1.5em;
        color: #ffffff;
    }
     
    .phrase_about {
        display: flex;
        flex-flow: row wrap;
        text-align: center;
        margin-top: 13em;
        width: 11em;
        color: #272727;
        font-size: 2em;
    }
    
    .phrase_about:hover {
        color: #ffff;
        cursor: pointer;
        transition: 1s;
        transform: scale(1.15);
    }

    .space_about {
        height: 15em;
    }

    .cv_container_about {
        display: flex;
        flex-direction: column;
        background-color: rgba(196, 35, 35, 0);
        margin-top: 6em;
        align-items: center;
    }
    
    .cuadro_cv {
        background-color: rgb(255, 255, 255);
        margin-top: 2.5em;
        height: 10em;
        width: 15em;
    }
    
    .cv {
        background-color: rgba(182, 74, 228, 0.644);
        display: block;
        height: 1.3em;
        width: 5em;
        text-align: center;
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-size: 1.6em;
    }
    
    .cv:hover {
        background-color: #272727;
        color: #ffff;
        cursor: pointer;
        transform: scale(0.95);
    }    
}



