
.cursorCustom {
    background-color: #4d4c4c00;
    width: 37px;
    height: 37px;
    border: 1.5px solid #7b7b7b; /* Personaliza según tus necesidades */
    border-radius: 50%;
    padding: 5px;
    position: fixed;
    pointer-events: none; /* Asegura que no interfiera con los eventos de ratón */
    transition: transform 0.1s ease-out, opacity 0.1s ease-out;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.cursorCustomIn {
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #7b7b7b;
    border: 2px rgba(0, 0, 0, 0);
    border-radius: 50%;
    pointer-events: none;
    /* Para evitar que el cursor interfiera con otros elementos */
    transform: translate(-50%, -50%);
    /* Para centrar el puntero */
    transition: transform 0.1s ease-out, background-color 0.1s ease-out;
    z-index: 9999;
    /* Asegura que el puntero esté siempre encima */

} 